body {
	
	text-align:center;
	font-family: 'Sacramento', cursive;
	
	font-family: 'Poiret One', cursive;
	color: black;
}

#menu1 ul, #menu2 ul { 
	display: inline-block; 
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu1 ul li, #menu2 ul li { float:left; display: inline; }

#menu1 ul li a, #menu2 ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

.secoes{
	border:1px solid yellow;
}

div{

}

span{
	color:red;
}

#subDiv2{
	border:15px solid #00ffdc;
}

p{
	
	color: #00fff3;
}

#PagInic p {
	
	color:black;
}

button p{
	color:black;
}

.error{
color:red
}



